<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <header>
        <nav class="navbar navbar-light navbar-expand-lg" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Fag el Gamous</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">-->
                <partial name="_LoginPartial" />
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Role" asp-action="Create">Role</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="ViewMummyRecords">View Records</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="AddMummyRecord">Add Record</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Role" asp-action="UserRoles">See Roles</a>
                        </li>
                        }
                    </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <!--<div class="container">
                <main role="main" class="pb-3">-->
            <div style="margin-top:40px; margin-bottom:3rem;">
                @RenderBody()
            </div>
            <!--</main>
            </div>-->

            <footer class="bg-light text-center text-lg-start">
                <div class="text-center p-3" style=" background-color: #0f1675; color:white;">
                    © 2020 Copyright: BYU Information Systems
                </div>
            </footer>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Third party plugin JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <!-- Contact form JS-->
            <script src="assets/mail/jqBootstrapValidation.js"></script>
            <script src="assets/mail/contact_me.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
        </body>
        </html>
