@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mummy;

<div>
    <h1>Add a Mummy</h1>
    <br />
    <p>Enter in the information you would like to add for a new mummy record below.</p>
    <br />

    <!--Form where the user will enter in information to be run through the Add_Movie Action in the Home Controller-->
    <form method="post">
        <div>
            <label asp-for="Name">Name</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Age">Age</label>
            <input asp-for="Age" />
        </div>

        <button class="btn btn-primary"type="submit">Add Mummy Record</button>
    </form>

    <!--Show any errors here-->
    <div asp-validation-summary="All"></div>
</div>