@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mummy Record List";
}

@model INTEX2Mock.Models.ViewModels.SeeMummiesViewModel

<div>
    <partial name="MummyFilterSummary" model="Model.mummySearchModel" />
</div>

<div class="text-center col-12">
    <div class="text-center">
        <!--Table that displays time slots and tells whether slot is available or unavailable-->
        <table class="center table table-striped table-bordered table-hover table-info">
            <thead>
                <tr>
                    <th>MummyID</th>
                    <th>MummyName</th>
                    <th>Age</th>
                </tr>
            </thead>

            <tbody>
                <!--Loops through all of the possible time slots to print them out here.-->
                <!--Information to loop through is located in a seperate .cshtml file called TimeSlotSummary.cshtml, which is imported into here-->
                @foreach (var x in Model.Mummies)
                {
                    <partial name="MummyRecordListSummary" model="x" />
                }
            </tbody>
        </table>
    </div>

    <div page-info="@Model.PageNumberingInfo" page-action="ViewMummyRecords" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-dark"
         page-parameters="@Model.UrlInfo"
         page-btn="false"
         class="text-center bg-info">
    </div>
</div>