@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you for confirminng your email. Click <a asp-area="Identity" asp-page="/Account/Login">here</a> to log into your account.</p> 