@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Account Creation";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you for creating an account. Click <a asp-area="Identity" asp-page="/Account/Login">here</a> to log into your account.</p> 