@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>Click <a id="confirm-link" href="@Model.EmailConfirmationUrl">here</a> to confirm your account creation.</p>
